/* VARIAVEL */
:root{
    --fp-primary:#9d9d9d;
    --fp-light:#c5c5c5;
    --fp-white:#ffffff;
    --fp-dark:#1b1919;
    --fp-black:#000000;

    --fp-5:5px;
}
/* Global */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
    font-size:16px;
}
body{
    color:var(--fp-primary);
    background:var(--fp-dark);
    height:100vh;
}

/* Site */
.navbar{
    padding:1.5rem 3rem;
    text-align:center;
}
.brand{
    font-size:1.8rem;
    margin:0 0 .8rem;
}
.question{
    font-size:1.2rem;
}
.florPreta{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
.jogoArea{
    background:url('../img/florPreta.jpeg') no-repeat center;
    background-size:cover;
    width:500px;
    height:500px;
    border:5px solid var(--fp-light);
    border-radius:var(--fp-5);
    position:relative;
    margin:auto;
    overflow:hidden;
}
.gridGame,.gridGameV{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
}
.gridGame::before,.gridGameV::before{
    content:'';
    position:absolute;
    width:100%;
    border:3px solid var(--fp-white);
    top:160px;
}
.gridGame::after,.gridGameV::after{
    content:'';
    position:absolute;
    width:100%;
    border:3px solid var(--fp-white);
    bottom:160px;
}
.gridGameV{
    position:absolute;
    top:0;
}
.gridGameV::before{
    transform:rotate(90deg);
    top:250px;
    left:-80px;
}
.gridGameV::after{
    transform:rotate(90deg);
    bottom:233px;
    right:-80px;
}

.gridPlay{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(3, 1fr);
    justify-items:center;
    align-items:center;
}
.icon{
    width:120px;
    height:120px;
    display:flex;
    cursor:pointer;
}
.icon img{
    width:100%;
    height:100%;
    margin:auto;
}
.btnsArea{
    margin:2rem auto;
    width:500px;
}
.btn{
    padding:1.4rem 1.2rem;
    width:100%;
    background:transparent;
    border:5px solid var(--fp-primary);
    border-radius:var(--fp-5);
    color:var(--fp-primary);
    font-size:1.3rem;
    font-weight:600;
    text-transform:uppercase;
    cursor:pointer;
    transition:.25s;
}
.btn:hover{
    transform:scale(.99);
    background:var(--fp-primary);
    color:var(--fp-black);
    border-color:var(--fp-dark);
}
.btn:active{
    transform:scale(.98);
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0 0 0 / .8);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    z-index:2;
}
.overh2{
    font-size:3rem;
    font-weight:600;
}

@media(max-width:500px){
    .jogoArea{
        width:400px;
        height:400px;
    }
    .gridGame::before{
        top:120px;
    }
    .gridGame::after{
        bottom:130px;
    }
    .gridGameV::before{
        top:190px;
        left:-70px;
    }
    .gridGameV::after{
        bottom:190px;
        right:-70px;
    }
    .icon{
        width:90px;
        height:90px;
    }

    .overh2{
        font-size:2rem;
    }
    .btnsArea{
        width:400px;
    }
}

@media(max-width:400px){
    .jogoArea{
        width:300px;
        height:300px;
    }
    .gridGame::before{
        top:95px;
    }
    .gridGame::after{
        bottom:95px;
    }
    .gridGameV::before{
        top:140px;
        left:-50px;
    }
    .gridGameV::after{
        bottom:140px;
        right:-50px;
    }
    .icon{
        width:70px;
        height:70px;
    }

    .overh2{
        font-size:2rem;
    }
    .btnsArea{
        width:300px;
    }
}