*{
    margin:0;
    padding:0;
}
body{
    background:#c9c9;
}

.wrapper{
    height:100vh;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow:1px 1px 1px #000;
    text-align:center;
}
.calculator{
    position:absolute;
    background:rgba(0,0,0,.8);
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:15px;
    padding:15px;
}
.btn{
    width:50px;
    height:50px;
    font-size:25px;
    cursor:pointer;
    background:rgb(31,31,31);
    color:#fff;
    margin:3px;
    border:none;
}
.btn:hover{
    background:rgb(67, 67, 67);
}
.equal{
    height:106px;
}
.zero{
    width:106px;
}
.title{
    text-transform:uppercase;
    font-weight:700;
}
#result{
    width:207px;
    height:50px;
    margin:5px auto;
    background:rgb(67,67,67);
    font-size:25px;
    padding:5px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}