/* Variable */

/* Global Settings */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:none;
}
body{
    background:rgb(58,58,58);
    color:#fff;
}

/* Site Settings */
.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    gap:2rem;
}
.flex{
    display:flex;
    flex-direction:column;
    gap:.5rem;
    width:50vw;
}
.flex h1{
    font-size:2.375rem;
    text-transform:uppercase;
    font-weight:800;
}
.flex p{
    font-size:1.275rem;
    text-align:center;
    margin-bottom:1em;
}
.flex label{
    align-self:flex-start;
    font-size:1.2rem;
}
.flex input{
    padding:.5rem;
    border-radius:8px;
    width:100%;
}
button{
    padding:1.275rem;
    border-radius:8px;
    margin-top:1rem;
    transition:all 0.25s ease;
    cursor:pointer;
}
button:hover{
    transform:scale(1.05);
}

.resultBox{
    border:3px solid #000;
    width:50%;
    height:20%;
    border-radius:8px;
    background:rgb(108,108,108);
}
.resultBox h2{
    text-align:center;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    margin-bottom:5px;
}
.result{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
}