/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* Variável */
:root{
    --primary:#FF6464;
    --secondary:#00A8CC;
    --dark:#21243D;
    --light:#8695A4;
    --background:#EDF7FA;
}

/* Global Settings */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    vertical-align:baseline;
    border:none;
}
body{
    background:#Fff;
    font-family:'Heebo', sans-serif;
    color:var(--dark);
}
.-bgColor{
    background:var(--background);
}


/* MAIN COMPONENTS ==================================================================== */
.header, .sections, .presentation, .present_content, .cardBox, .card, .workBox, .workContent, .footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:0 0.625rem 0.625rem;
    gap:1.5625rem;
}
.main{
    background:#fff;
    display:block;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    height:3.125rem;
    padding:0.9375rem 1rem;
}
.presentation{
    height:calc(100vh - 3.125rem);
    gap:2.125rem;
}
.-gap0{
    gap:0;
}
.type{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1.25rem;
    align-self:flex-start;
}
.divisor{
    border-bottom:1px solid var(--light);
    width:100%;
    color:var(--light);
    margin-bottom:1rem;
}
.footer{
    gap:1.5625rem;
    padding:3.125rem 0;
}

/* ====================================== */
/* NAVIGATION ==================================================================== */
/* ====================================== */
.hamburger{
    border-top:0.125rem solid var(--dark);
    width:1.875rem;
}
.hamburger::before,
.hamburger::after{
    content:"";
    display:block;
    width:1.875rem;
    height:0.125rem;
    background:currentColor;
    margin-top:0.3125rem;
}
.menu{
    display:none;
    gap:30px;
    list-style:none;
    margin:0 3.75rem;
}
.navLink{
    color:var(--dark);
    text-decoration:none;
    font-size:1.25rem;
    font-weight:500;
    line-height:1.8125rem;
    transition:color 0.25s ease;
}
.navLink:hover{
    color:var(--primary);
}
/* ====================================== */
/* TEXTS ==================================================================== */
/* ====================================== */
.title, .-ct, .-tw{
    font-size:2rem;
    font-weight:700;
    line-height:2.5rem;
    text-align:center;
    padding:0 0.625rem;
}
.title.-ct{
    font-size:1.375rem;
    line-height:1.875rem;
    text-align:left;
}
.subtitle, .-title_Section{
    font-size:1rem;
    font-weight:400;
    line-height:1.46875rem;
}
.-tw{
    font-size:1.5rem;
    line-height:1.875rem;
    padding:0;
    align-self:flex-start;
}
.-center{
    text-align:center;
}
.-title_Section{
    font-size:1.125em;
    line-height:3.75rem;
}
.subtitle.-copy{
    font-size:0.875rem;
    line-height:1.3125rem;
}
.viewall{
    display:none;
    text-decoration:none;
    color:var(--secondary);
    transition:color .25s ease-in-out;
}
.viewall:hover{
    color:var(--primary);
}
/* ====================================== */
/* PRESENTATION ==================================================================== */
/* ====================================== */
.avatar{
    width:10.625rem;
    height:10.625rem;
    border-radius:50%;
}
/* ====================================== */
/* BUTTON ==================================================================== */
/* ====================================== */
.btn{
    background:var(--primary);
    padding: 13px 20px;
    border-radius:2px;
    color:#fff;
    font-size:1.25rem;
    font-weight:500;
    line-height:1.8125rem;
    transition:transform 0.25s ease-in;
}
.btn:hover{
    transform:scale(1.03);
}
/* ====================================== */
/* POSTS ==================================================================== */
/* ====================================== */
.titlePage_rp{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

/* ====================================== */
/* CARDS ==================================================================== */
/* ====================================== */
.card{
    background:#fff;
    box-shadow:0 4px 10px 0 rgba(187, 225, 250,0.8);
    border-radius:4px;
    padding:12px;
    gap:0.75rem;
    align-items:flex-start;
}

/* ====================================== */
/* FEATURED WORKS ==================================================================== */
/* ====================================== */
.workBox{
    gap:1.0625rem;
}
.workContent{
    gap:1.5625rem;
    padding:0;
}
/* ====================================== */
/* BADGES ==================================================================== */
/* ====================================== */
.badge{
    padding:0 12px;
    background:#142850;
    color:#fff;
    border-radius:16px;
    font-weight:900;
    line-height:1.5rem;
}

/* ====================================== */
/* SOCIAL ==================================================================== */
/* ====================================== */
.social{
    display:flex;
    gap:2.1875rem;
}
.social a{
    color:var(--dark);
    font-size:1.875rem;
    transition:color 0.3s ease;
}
.social a:hover{
    color:var(--primary);
}
/* ====================================== */
/* MEDIA SIZE ==================================================================== */
/* ====================================== */
@media(min-width:769px){
    .header, .sections{
        padding:1.5625rem 9.25rem;
    }
    .hamburger{
        display:none;
    }
    .menu{
        display:flex;
    }
    .presentation{
        flex-direction:row-reverse;
        justify-content:space-between;
        align-items:center;
        padding:0;
        width:100%;
    }
    .present_content{
        display:flex;
        padding:0;
        width:31.625rem;
        align-items:flex-start;
        gap:2.5rem;
    }
    .present_content>.title, .present_content>.subtitle{
        text-align:left;
    }
    .present_content>.title{
        padding-right:3.75rem;
        padding-left:0;
    }
    .title{
        font-size:2.75rem;
        line-height:3.75rem;
    }
    .titlePage_rp{
        max-width:1000px;
    }
    .-title_Section{
        font-size:1.375rem;
    }
    .viewall{
        display:block;
    }
    .cardBox{
        flex-direction:row;
        gap:1.25rem;
        padding:0;
        max-width:1000px;
    }
    .workBox{
        flex-direction:row;
    }
    .workBox img{
        max-width:15.375rem;
    }
    .workContent{
        gap:1rem;
    }
}

/* MEDIA TEXTS */
@media(min-width:769px){
    .title.-ct{
        font-size:1.625rem;
        line-height:2.386875rem;
        padding:0;
    }
    .type>.subtitle{
        font-size:1.125rem;
        line-height:1.6525rem;
    }
    .-tw{
        font-size:1.875rem;
    }
}

/* ======================================================================== */
/* WORKS PAGE ==================================================================== */
/* ======================================================================== */