*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
    list-style:none;
    color:#fff;
    text-decoration:none;
}
header{
    background:#101026;
}

.navbar{
    min-height:20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 36px;
    z-index:1;
}
.logo{
    font-size:2rem;
    font-weight:bold;
}
.navMenu{
    display:flex;
    align-items:center;
    gap:60px;
}
.navLink{
    transition:0.5s
}
.navLink:hover{
    color:#0088d2;
}
.hamburger{
    display:none;
    cursor:pointer;
}
.bar{
    display:block;
    width:28px;
    height:3px;
    border-radius:2px;
    margin:5px auto;
    background:#fff;
    transition:all 0.3s ease-in-out;
}
@media (max-width:768px){
    .hamburger{
        display:block;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navMenu{
        position:fixed;
        top:-100%;
        left:0;
        gap:0;
        border-radius:0 0 20px 20px;
        background:#101026;
        text-align:center;
        flex-direction:column;
        width:100%;
        transition:0.3s;
    }
    .navItem{
        margin:16px 0;
    }
    .navMenu.active{
        top:3%;
    }
}