body{
    background:rgb(70, 142, 236);
    font:normal 15pt Arial;
}

header{
    color:#fff;
    text-align:center;
}

main{
    background:#fff;
    border-radius:10px;
    padding:1px 15px 15px;
    width:500px;
    margin:auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

section{
    text-align:center;
    padding:8px;
    padding-top:0;
}
section #msg2{
    text-transform:uppercase;
}
section img{
    width:250px;
    height:250px;
    border-radius:50%;
    box-shadow: 5px 5px 10px #000;
}

footer{
    color:#fff;
    text-align:center;
    font-style:italic;
}