@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');

/* Variables ============================================================================ */
:root{
    --color-primary:#F53838;
    --color-text:#0B132A;
    --color-page:#F6F6F6;
    --color-shadow:rgba(245, 56, 56, 0.35);
}

/* Global Config ============================================================================ */
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    border:none;
}
body{
    font-family:'Rubik', sans-serif;
    background:var(--color-page);
}

/* HEADER ============================================================================ */
.header{
     padding:50px 0;
     height:100px;
}
.navbar{
    display:flex;
    justify-content:space-between;
    padding:0 150px;
}
.logo>img{
    width:35px;
    padding-right:10px;
}
.logo>h1{
    font-size:20px;
    font-weight:500;
    line-height:24px;
}
/* HEADER ============================================================================ */
/* HEADER ============================================================================ */
/* HEADER ============================================================================ */
/* HEADER ============================================================================ */
/* HEADER ============================================================================ */
/* HEADER ============================================================================ */
/* HEADER ============================================================================ */
/* HEADER ============================================================================ */
/* HEADER ============================================================================ */