*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#333;
    color:#d9d9d9;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    overflow-x:clip;
}

.scroll-watcher{
    height:10px;
    position:fixed;
    top:0;
    background-color:lime;
    width:100%;
    transform-origin:left;
    scale:0 1;
    animation:scroll-watcher linear;
    animation-timeline:scroll();
    z-index:10;
}
@keyframes scroll-watcher{
    to{scale:1 1;}
}

.container{
    padding:0 150px;
}
.header{
    display:grid;
    place-items:center;
    position:relative;
    height:100svh;
    overflow-x:clip;
    padding-block:7rem;
    margin-block-end:3rem;

    animation:fade-out linear;
    animation-timeline:view();
    animation-range:exit;
}
.header-img{
    grid-column:1 / -1 !important;
    position:absolute;
    inset:0;
    width:100%;
    height:100%;
    opacity:.5;
    object-fit:cover;
    z-index:-1;
    transform-origin:bottom;

    animation:header-image linear forwards;
    animation-timeline:scroll();
}
@keyframes fade-out {
    to{opacity:0;}
}
@keyframes header-image{
    25%{opacity:.8;}
    85%{opacity:0; scale:3;}
}
.header h1{
    font-size:36px;
    font-weight:600;
    margin-bottom:20px;
}
.header p:not(:last-child){
    margin-bottom:30px;
}

.main{
    padding:50px 0;
    margin-bottom:100px;
}
.main p{
    margin:20px 0;
}

@media (prefers-reduced-motion:no-preference){
    .article-img{
        scale:.8;
        opacity:0;
        animation:fade-in linear forwards;
        animation-timeline:view();
        animation-range:entry;
    }
    
    @keyframes fade-in{
        to{
            scale:1;
            opacity:1;
        }
    }
}

